<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pagamento</title>
   <link rel="stylesheet" type="text/css" media="screen" href="style1.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
      <div id="pagina">
            <header>
               <div id="linha"></div>
            </div>
         </header>
         <section>
            <div class="precos">
            <div class="foto"></div>
            <div class="title">Titulo</div>
            <div class="preco">Preço R$00,00</div>
            <div class="foto"></div>
            <div class="title">Titulo</div>
            <div class="preco">Preço R$00,00</div>
            <div class="foto"></div>
            <div class="title">Titulo</div>
            <div class="preco">Preço R$00,00</div>
            <div class="ver-mais">Ver Todos</div>
            <div class="linha1"></div>
            <div class="frete">Custo do frete: R$00,00</div>
            <div class="total">Total R$00,00</div>
            </div>
         </div>
            <div class="bolas-container">
               <div class="bola"><i class="fa-solid fa-cart-shopping"></i></div>
               <div class="linha"></div>
               <div class="bola"><i class="fa-solid fa-truck-fast"></i></div>
               <div class="linha"></div>
               <div class="bola"><i class="fa-regular fa-credit-card"></i></div>
            </div>

            <div class="pagamentos">Formas de Pagamento</div>
            <div class="caixa-1"><i class="fa-regular fa-credit-card"></i>
               <div class="cd">Cartão de credito</div>
            </div>
            <div class="caixa-1"><i class="fa-solid fa-barcode"></i>
               <div class="boleto">Boleto Bancário</div>
            </div>
            <div class="caixa-1"><i class="fa-brands fa-pix"></i></i>
               <div class="pix">Pix</div>
            </div>
            <div class="caixa-1"><i class="fa-solid fa-money-bill-transfer"></i></i></i>
               <div class="DB">Deposito bancario</div>
            </div>
            <div id="caixa-7">
               <div id="final">Finalizar</div>
         </section>
     
</body>
</html>
